body {
    display: flex;
    height: 90vh;
    width: 99vw;
    justify-content: center;
    align-items: center;
    background-color: #323232;
}

h1 {
    padding: 20px;
    border-radius: 10px;
    border: 2px solid;
    user-select: none;
    color: #fafafa;
    transition: 0.2s;
}

h1:hover {
    box-shadow: 0px 0px 10px #d400ff;
    text-shadow: 0px 0px 10px #d400ff;
    color: #d400ff;
    transform: scale(1.5);
}